Django>=2.1
requests>=2.19.1
pytz>=2018.5
whitenoise>=4.0
gunicorn>=19.9.0
psycopg2-binary
python-telegram-bot>=11.0.0
django-hosts>=3.0
django-python-telegram-bot-adapter
dj-database-url
social-auth-app-django