{% extends 'navbar.html' %}
{% load staticfiles %}

{% block javascript %}
    <script>
        var source = JSON.parse({{ source|safe }});

        $(function() {
            $('.raw').val(source.source_source);
            $('.header-text').first().text(source.source_name);
            //$('.raw-link').attr('href', 'http://raw.codepaste.me/' + source.source_alias);

            if(source.source_bot === true) {
                $('.header-text').first().append($('<sup>')
                .addClass('through-bot')
                .append($('<a>', {
                        'href': 'https://telegram.me/codepaste_bot',
                        'target': '_blank'
                    })
                    .append($('<img>', {
                        'src': '{% static 'css/telegram-icon.png' %}'
                    }))
                    .append('bot')
                ));
            }

            highlight(source);
        });

        function highlight(source) {
            var worker = new Worker('{% static 'js/highlightjs-worker.js' %}');

            worker.onmessage = function (ev) {
                $('.code').html(ev.data).each(function(i, block) {
                    hljsNumbers.lineNumbersBlock(block);
                });

                var rowCount = $('.hljs-ln-numbers').length;
                if(rowCount === 0) rowCount = 1;
                $('.raw').attr('rows', Math.min(rowCount, 20));

                setTimeout(function() {
                    $('.cssload-loader').addClass("disabled");
                    $('.cssload-square').addClass("disabled");
                    setTimeout(function() {
                        $('.cssload-loader').hide();
                    }, 250);
                }, 50);
            };

            worker.postMessage(JSON.stringify({source:source, libPath: '{% static 'js/highlight.pack.js' %}'}));
        }
    </script>

    <script src="{% static 'js/to-top.js' %}"></script>
    <button class="to-top"><span class="checkmark"></span></button>
{% endblock %}