{% extends 'skeleton.html' %}

{% block content %}
    <div class="container-fluid content">
        <h2 class="text-center header-text">New Paste</h2>
        <div class="form-group">
            <textarea class="form-control code-area" rows="20" title="New Paste"></textarea>
        </div>
        <div class="controls">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="name">Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="name" placeholder="Untitled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="lang">Language:</label>
                            <div class="col-sm-8">
                                <select id="lang" class="language_select"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-6 col-md-2">
                    {% csrf_token %}
                    <button type="button" class="submit pull-right btn btn-success btn-block" onclick="submit()">
                        <span>Submit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function submit() {
            const source = $('.code-area').val(),
                name = $('#name').val() || "Untitled",
                lang = $('#lang').val(),
                token = $('input[name=csrfmiddlewaretoken]').val();

            $.ajax('/ajax/createPost/', {
                data: {
                    csrfmiddlewaretoken: token,
                    source: source,
                    name: name,
                    lang: lang
                },
                type: "post",
                dataType: "json",
                success: function(data) {
                    if(data.success) {
                        location.href = "/" + data.id;
                    } else {
                        alert("НАПОМНИТЕ ЭТОМУ ДАУНУ ДОПИСАТЬ ЭТОТ МУСОР");
                    }
                }
            })
        }

        const langSelectData = {
            data: [{
                id: 'auto',
                text: 'Auto'
            }, {
                id: 'text',
                text: "Plain Text"
            }, {
                id: 'nul',
                text: "Loading..",
                disabled: true
            }]
        };

        const languageSelect = $('.language_select').select2(langSelectData);

        $.ajax('/ajax/getLang/', {
            dataType: "json",
            success: function(data) {
                data.data = data.data.map((x) => ({id: x.lang_id, text:x.lang_text}));
                data.data.unshift({
                    id: 'auto',
                    text: 'Auto'
                });

                languageSelect.select2('destroy').empty().select2(data);
                languageSelect.val("auto");
                languageSelect.trigger('change');
            }
        });


        $(() => {
            $('.code-area').on('keydown', (e) => {
                var keyCode = e.keyCode || e.which;

                if (keyCode === 9) {
                    e.preventDefault();

                    const start = $(this).get(0).selectionStart;
                    const end = $(this).get(0).selectionEnd;

                    const it = $(this), val = it.val();
                    it.val(val.substring(0, start) + '\t' + val.substring(end));
                    it.get(0).selectionStart = it.get(0).selectionEnd = start + 1;
                }
            });
        });
    </script>
{% endblock %}