body {
    height: 100vh;
}

.cssload-loader {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    transition: background-color 0.5s;
}

.cssload-square {
    width: 6px;
    height: 21px;
    background: rgb(0,0,0);
    border-radius: 7px;
    display: block;
    transition: background-color 0.5s;
    animation: cssload-turn 2.88s ease infinite;
    -o-animation: cssload-turn 2.88s ease infinite;
    -ms-animation: cssload-turn 2.88s ease infinite;
    -webkit-animation: cssload-turn 2.88s ease infinite;
    -moz-animation: cssload-turn 2.88s ease infinite;
}

.cssload-top {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
}
.cssload-bottom {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
}
.cssload-left {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.cssload-right {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    -o-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -moz-transform: translateY(-50%) rotate(-180deg);
}


@keyframes cssload-turn {
    0% {
        transform: translateX(0) translateY(0) rotate(0);
    }
    50% {
        transform: translateX(400%) translateY(100%) rotate(90deg);
    }
    100% {
        transform: translateX(0) translateY(0) rotate(0);
    }
}

@-o-keyframes cssload-turn {
    0% {
        -o-transform: translateX(0) translateY(0) rotate(0);
    }
    50% {
        -o-transform: translateX(400%) translateY(100%) rotate(90deg);
    }
    100% {
        -o-transform: translateX(0) translateY(0) rotate(0);
    }
}

@-ms-keyframes cssload-turn {
    0% {
        -ms-transform: translateX(0) translateY(0) rotate(0);
    }
    50% {
        -ms-transform: translateX(400%) translateY(100%) rotate(90deg);
    }
    100% {
        -ms-transform: translateX(0) translateY(0) rotate(0);
    }
}

@-webkit-keyframes cssload-turn {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateX(400%) translateY(100%) rotate(90deg);
    }
    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0);
    }
}

@-moz-keyframes cssload-turn {
    0% {
        -moz-transform: translateX(0) translateY(0) rotate(0);
    }
    50% {
        -moz-transform: translateX(400%) translateY(100%) rotate(90deg);
    }
    100% {
        -moz-transform: translateX(0) translateY(0) rotate(0);
    }
}


.disabled {
    background-color: transparent;
}
